* {
  border: none;
  border-radius: 0;
  font-family: "Comic Sans MS";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  /*background-color: rgba(30, 30, 30, 0.5);*/
  background-color: rgba(30, 30, 30, 0.9);
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.12);*/
  color: #ffffff;
}

#custom-arch {
  font-size: 15px;
  padding: 0 10px 0 12px;
}

#window {
  font-weight: bold;
  padding: 0 10px;
}

#custom-file,
#custom-edit,
#custom-cmd,
#custom-process,
#custom-go,
#custom-web,
#custom-help {
  padding: 0 8px;
  color: #e1e1e1;
}

#tray,
#network,
#pulseaudio,
#battery,
#custom-spotlight,
#custom-controlcenter,
#clock {
  padding: 0 7px;
}

#clock {
  padding-right: 12px;
  font-weight: 500;
}

#custom-spotlight {
  font-size: 12px;
}

#custom-controlcenter {
  font-size: 14px;
}

#battery.warning {
  color: #ff9e64;
}

#battery.critical:not(.charging) {
  color: #f7768e;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    color: #ffffff;
  }
}
